:host {
  width: 100%;
  .mat-toolbar.x-small {
    #search {
      width: 100%;
    }
  }
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  justify-content: flex-end;
}

.menus {
  display: flex;
}

.menu {
  margin-left: 20px;
}
